*{
  padding:0;
  margin:0;
  box-sizing: content-box;
  font-family:'Poppins', sans-serif;
}
body{
  background: #18fa9d;
}
nav{
  position:sticky;
  top: 0;
  min-width:100%;
  height:50px;
  background:#fff;
  box-shadow:0 6px 10px #11111150;
}

ul{
  display:flex;
}
li{
  list-style:none;
  width:calc(100% / 4);
}
a{  
  display:block;
  height:50px;
  text-align:center;
  line-height:50px;
  text-decoration:none;
  color:#121212;
  font-family:'Poppins', sans-serif;
}
.slide{
  position:absolute;
  bottom:0;
  left:0;
  width:calc(100% / 4);
  height:4px;
  background:#3641b7;
  transition:.4s;
}
article{
  background: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow:0 6px 10px #11111150;
}
