@font-face {
    font-family: "Galderglynn";
    src: url(src/galderglynn\ titling\ rg.ttf);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Galderglynn", sans-serif;
}

h1 {
    margin: 10px 0;
}

html {
    scroll-behavior: smooth;
    text-align: center;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 20px 10vw;
    border: #111 solid 2px;
}

nav li {
    width: calc(100% / 4);
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #111;
    padding: 10px 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

nav a:hover {
    background-color: #111;
    color: #38f88b;
}

.main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto;
    position: relative;
    height: 100vh;
}

.main > div {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    min-height: 100vh;
    padding: 0 10vw;
}

#inicio {
    background-color: #38f88b;
}

#sobremi p {
    text-align: justify;
}

#habilidades {
    background-color: #4f23e2;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidad {
    width: calc(100% / 3);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proyectos {
    /* display: inline-block;
    padding: 150px 10vw;
    height: auto;
    */
    background-color: #111;
    color: #fff;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 50%;
}

.proyecto{
    width: calc((100% / 3) - 10px);
    height: 200px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

.contenido h1 {
    margin: 0;
}

.proyecto:hover .contenido {
    background-color: #111111ca;
    color: #fff;
    z-index: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.proyecto:hover img {
    transform: scale(120%);
    -webkit-transform: scale(120%);
    -moz-transform: scale(120%);
    -ms-transform: scale(120%);
    -o-transform: scale(120%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.btn_proyecto {
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.btn_proyecto:hover {
    background-color: #fff;
    color: #111;
}

path {
    stroke: #000;
    fill: #000;
    stroke-dasharray: 1580;
    opacity: 10;
    animation: animate 1s cubic-bezier(0, 0.23, 1, 0.1);
    -webkit-animation: animate 1s cubic-bezier(0, 0.23, 1, 0.1);
}  

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1580;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1580;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: #000;
        stroke-dashoffset: 0;
    }
}

@media (min-width: 768px) {
    /* SCROLLBAR */

    ::-webkit-scrollbar {
        width: 16px;
    }

    ::-webkit-scrollbar-track {
        background: #111;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #eee;
        background-clip: content-box;
    }
}

@media (max-width: 768px) {
    nav > ul {
        margin: 20px 5vw;
    }
    nav a {
        font-size: 2.8vw;
    }
    firma {
        font-size: 8vw;
    }
    .main > div {
        font-size: 4vw;
        padding: 5vw;
    }
    .proyecto {
        width: calc(100% / 2);
        height: 25vh;
    }

}
